<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-R29V1LJEVF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115090544-17');
  gtag('config', 'G-R29V1LJEVF');
</script>


<!-- <script async type="application/javascript"
        src="https://news.google.com/swg/js/v1/swg-basic.js"></script>
<script>
  (self.SWG_BASIC = self.SWG_BASIC || []).push( basicSubscriptions => {
    basicSubscriptions.init({
      type: "NewsArticle",
      isAccessibleForFree: true,
      isPartOfType: ["Product"],
      isPartOfProductId: "CAowrtC-Cw:openaccess",
      autoPromptType: "none",
      clientOptions: { theme: "light", lang: "en" },
    });
  });
</script> -->


 